/* About Default Styles
  ---------------------
  default.css is used to establish general rules, browser reset, or admin user interface styles.
  Browser Reset
  -------------
  For a more complete reset, go to http://developer.yahoo.com/yui/reset/
*/
/* line 9, ../sass/default.scss */
* {
  margin: 0;
  padding: 0;
}

/* Clear Floats Without Structural Markup 
  ---------------------------------------
  http://www.positioniseverything.net/easyclearing.html
*/
/* line 18, ../sass/default.scss */
.clearfix {
  display: inline-block;
}
/* line 20, ../sass/default.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \ */
/* line 30, ../sass/default.scss */
* html .clearfix {
  height: 1%;
}

/* line 34, ../sass/default.scss */
.clearfix {
  display: block;
}

/* End hide from IE-mac

/* clear classes */
/* line 42, ../sass/default.scss */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 46, ../sass/default.scss */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 50, ../sass/default.scss */
.clear, .clearboth, .clearall {
  clear: both;
}

/* Float classes */
/* line 55, ../sass/default.scss */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 60, ../sass/default.scss */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* "Skip to Main Content" link
  ---------------------------
  This link useful for both visually impaired people and those with mobility impairments
  who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/
*/
/* line 71, ../sass/default.scss */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 79, ../sass/default.scss */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* bug fix with views 2 edit links. */
/* line 87, ../sass/default.scss */
div.view div.views-admin-links {
  width: auto;
}

/* Rollover edit links for blocks. */
/* line 92, ../sass/default.scss */
div.block {
  position: relative;
}
/* line 94, ../sass/default.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /* let's get fancy! */
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-box-shadow: 0 1px 3px #888888;
  -ms-box-shadow: -1px 1px 2px #666666;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 114, ../sass/default.scss */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 121, ../sass/default.scss */
div.block:hover .edit {
  display: block;
}

/* Wireframe styles. */
/* line 141, ../sass/default.scss */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 145, ../sass/default.scss */
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 149, ../sass/default.scss */
.with-wireframes .block {
  margin-bottom: 3px;
}
/* line 155, ../sass/default.scss */
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
/* line 158, ../sass/default.scss */
.with-wireframes #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 165, ../sass/default.scss */
.with-wireframes.with-navigation #content,
.with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}
/* line 169, ../sass/default.scss */
.with-wireframes #navigation {
  height: 50px;
}
