/* Yes, we all hate IE7 too.

   Drupal admin tables.
*/
/* line 8, ../sass/ie7.scss */
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

/* Minor fix for primary and secondary tabs in IE */
/* line 18, ../sass/ie7.scss */
ul .primary li a:hover,
ul .secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}
