/* Layout
  ------
  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
  
  1. Header
  2. Content
  3. Navigation menus
  4. Sidebar Left
  5. Sideabr Right
  
*/
/* remove 'auto' and the width to switch to a fluid width */
/* line 17, ../sass/layout.scss */
#page {
  width: 960px;
  margin: 0 auto;
}

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
/* line 23, ../sass/layout.scss */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 30, ../sass/layout.scss */
.sidebar {
  float: left;
}

/* line 34, ../sass/layout.scss */
#sidebar-second {
  float: right;
}

/* line 38, ../sass/layout.scss */
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */
/* line 48, ../sass/layout.scss */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Sidebars width
  --------------
  Changing the width of the sidebars is dead easy, just change the
  values below corresponding to the sidebar you want to modify.
  Make sure you keep negative values as negative values.
  For example, if I want to increase the width of the left sidebar
  to 300px, I would have to change each '190' to '300'.
*/
/* line 64, ../sass/layout.scss */
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 190px;
}

/* line 70, ../sass/layout.scss */
#sidebar-first {
  width: 190px;
  margin-right: -190px;
}

/* line 78, ../sass/layout.scss */
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

/* line 85, ../sass/layout.scss */
#sidebar-second {
  width: 200px;
}

/* Columns Inner
  -------------
  You can change the padding inside the columns without changing the
  width of them by just usinbg the INNER div of each column
*/
/* line 94, ../sass/layout.scss */
.inner {
  padding: 0;
}

/* Navigation styles
  -----------------
  The navigation is loaded after the content, so we need to make space
  for it, equal to its height, so if you change the height of the navigation,
  remember to adapt the margin top of the content and sidebars.
*/
/* line 104, ../sass/layout.scss */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

/* line 116, ../sass/layout.scss */
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px;
}
