/* Font styles. */
/* line 4, ../sass/style.scss */
body {
  margin: 0;
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

/* line 11, ../sass/style.scss */
a:visited, a:link {
  color: blue;
  text-decoration: none;
}
/* line 16, ../sass/style.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 23, ../sass/style.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 31, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 35, ../sass/style.scss */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 42, ../sass/style.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 48, ../sass/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 53, ../sass/style.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 58, ../sass/style.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 64, ../sass/style.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 70, ../sass/style.scss */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 64, ../sass/style.sass */
/* line 76, ../sass/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 81, ../sass/style.scss */
table {
  width: 99%;
}

/* line 86, ../sass/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 90, ../sass/style.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 95, ../sass/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 100, ../sass/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 109, ../sass/style.scss */
ul {
  list-style-type: disc;
}
/* line 111, ../sass/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 113, ../sass/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 115, ../sass/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 122, ../sass/style.scss */
ol {
  list-style-type: decimal;
}
/* line 124, ../sass/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 126, ../sass/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 133, ../sass/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 139, ../sass/style.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 144, ../sass/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 148, ../sass/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 156, ../sass/style.scss */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 162, ../sass/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}
/* line 169, ../sass/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}
/* line 174, ../sass/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}
/* line 179, ../sass/style.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 187, ../sass/style.scss */
#header, #footer {
  background: #efefef;
}

/* line 191, ../sass/style.scss */
#sidebar-first {
  background: #e7edff;
}

/* line 195, ../sass/style.scss */
#sidebar-second {
  background: #ffd075;
}

/* line 199, ../sass/style.scss */
#navigation {
  background: #feffa5;
}
