/* Yes, we all hate IE7 too.

   Drupal admin tables.
*/
#content tr.even,
#content tr.odd {
  th,
  td {
    border-bottom: 1px solid #cccccc;
  }
}
  

/* Minor fix for primary and secondary tabs in IE */
ul {
  .primary,
  .secondary {
    li a:hover {
      cursor: pointer;
      color: #555555;
      text-decoration: none;
    }
  }
}
  
